
::ng-deep .myCustomModalClass .modal-dialog { 
     max-width: 80%;
     width: 80%;
}

.animation-drop-down{
		animation: fadeIn 1s ease-in both;

}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}