<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-primary">
            <div (click)="gotopendingorder()" class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">12</h3>
                            <span>Pending Orders</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-bulb font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-warning">
            <div (click)="goToCustomers()" class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">15</h3>
                            <span>Total Customers</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-pie-chart font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-success">
            <div (click)="goToCompletedOrders()" class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">41</h3>
                            <span>Completed Orders</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-graph font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3 class="font-large-1 mb-0">14/20</h3>
                            <span>Active Drivers</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-wallet font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div id="Widget-line-chart2" class="height-75 WidgetlineChart WidgetlineChartShadow mb-3">
                    <x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
                        [events]="WidgetlineChart.events">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row" matchHeight ="card">
    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Running Orders</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                                            <table class="table table-responsive text-center animated fadeInDown">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Service Type</th>
                                    <th>Payment Method</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td >




                                    <p placement="top" ngbTooltip="Cash: 12123 Credit:1231 Due Amount:12">Hossam Emad</p> 


                                </td>
                                    <td>Winch</td>
                                    <td>Cash</td>
                                    <td><button (click)="onSelect(modal)" class="btn btn-success btn-raised">View Orders</button></td>
                                   
                                </tr>
                               
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
        <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Pending Orders</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                                            <table class="table table-responsive text-center animated fadeInDown">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Pickup Location</th>
                                    <th>Phone Number</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td >




                                    <p placement="top" ngbTooltip="Cash: 12123 Credit:1231 Due Amount:12">Hossam Emad</p> 


                                </td>
                                    <td><img width="50px" src="assets/img/map2.jpg"></td>
                                    <td>01111204333</td>
                                    <td><button (click)="onSelect(modal2)" class="btn btn-success btn-raised">Assign Driver</button></td>
                                   
                                </tr>
                               
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
  
</div>


<div class="row" matchHeight ="card">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Schedueled Orders</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <table class="table table-responsive text-center animated fadeInDown">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Tme</th>
                                    <th>Service Type</th>
                                    <th>Payment Method</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p placement="top" ngbTooltip="Cash: 12123 Credit:1231 Due Amount:12">Hossam Emad</p> 
                                    </td>
                                    <td>12:00 AM on 7/12/2019</td>
                                    <td>Winch</td>
                                    <td>Cash</td>
                                    <td><button (click)="onSelect(modal)" class="btn btn-success btn-raised">View Order</button></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

</div>

    <div class="row" matchHeight="card">
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 danger">1422</h3>
                                <span>iOS Downloads</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-cloud-download danger font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 success">3122</h3>
                                <span>Android Downloads</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-cloud-download success font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>











<div class="row" matchHeight ="card">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Staistics</h4>
            </div>
            <div class="card-body">

                <p class="font-medium-2 text-muted text-center">Money income Statistic</p>
                <div id="bar-chart" class="height-250 BarChartShadow BarChart">
                    <x-chartist class="" [data]="BarChart.data" [type]="BarChart.type" [options]="BarChart.options"
                     [responsiveOptions]="BarChart.responsiveOptions" [events]="BarChart.events">
                    </x-chartist>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col text-center">
                            <span class="gradient-pomegranate d-block rounded-circle mx-auto mb-2" style="width:10px; height:10px;"></span>
                            <span class="font-large-1 d-block mb-2">48%</span>
                            <span></span>
                        </div>
                        <div class="col text-center">
                            <span class="gradient-green-tea d-block rounded-circle mx-auto mb-2" style="width:10px; height:10px;"></span>
                            <span class="font-large-1 d-block mb-2">9%</span>
                            <span></span>
                        </div>
                        <div class="col text-center">
                            <span class="gradient-blackberry d-block rounded-circle mx-auto mb-2" style="width:10px; height:10px;"></span>
                            <span class="font-large-1 d-block mb-2">26%</span>
                            <span></span>
                        </div>
                        <div class="col text-center">
                            <span class="gradient-ibiza-sunset d-block rounded-circle mx-auto mb-2" style="width:10px; height:10px;"></span>
                            <span class="font-large-1 d-block mb-2">17%</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">New Subscribers List</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media mb-1">
                        <a> 
                            <img alt="96x96" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Ahmed Farouk</h4>
                            <p class="text-muted font-small-3">Insurance</p>
                        </div>
                        <div class="mt-1">
                    01111204333
                        </div>
                    </div>
                    <div class="media mb-1">
                        <a> 
                            <img alt="96x96" class="media-object d-flex mr-3 bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Tamer Hosny</h4>
                            <p class="text-muted font-small-3">Show Room</p>
                        </div>
                        <div class="mt-1">
                    01111204333
                        </div>
                    </div>
                    <div class="media mb-1">
                        <a> 
                            <img alt="96x96" class="media-object d-flex mr-3 bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Pablo Escobar</h4>
                            <p class="text-muted font-small-3">Provider</p>
                        </div>
                        <div class="mt-1">
                    01111204333
                        </div>
                    </div>


                    <div class="action-buttons mt-2 text-center">
                        <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Sales Analysis</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-3">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Winch</span>
                        <span class="text-uppercase mr-3"><i class="fa fa-circle warning font-small-2 mr-1"></i> Tires</span>
                        <span class="text-uppercase"><i class="fa fa-circle danger font-small-2 mr-1"></i> Oil</span>
                    </div>
                    <div id="line-chart1" class="height-350 lineChart1 lineChart1Shadow">
                        <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options"
                            [responsiveOptions]="lineChart1.responsiveOptions" [events]="lineChart1.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 







<!-- <div class="row" matchHeight ="card">
    <div class="col-xl-6 col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="card-img">
                    <img class="card-img-top img-fluid height-300" src="assets/img/photos/weather-1.jpg" alt="Card image cap">
                    <h4 class="card-title">Sunny</h4>
                    <a class="btn btn-floating halfway-fab bg-primary"><i class="ft-plus"></i></a>
                </div>
                <div class="card-block mt-2">
                    <div class="row">
                        <div class="col-2 text-center">
                            <span class="display-block">Mon</span>
                            <i class="wi wi-day-sunny display-block warning font-large-1 my-3"></i>
                            <span class="display-block">13&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Tue</span>
                            <i class="wi wi-day-cloudy display-block warning font-large-1 my-3"></i>
                            <span class="display-block">12&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Wed</span>
                            <i class="wi wi-day-cloudy-gusts display-block warning font-large-1 my-3"></i>
                            <span class="display-block">10&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Thu</span>
                            <i class="wi wi-day-cloudy-windy display-block warning font-large-1 my-3"></i>
                            <span class="display-block">12&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Fri</span>
                            <i class="wi wi-day-fog display-block warning font-large-1 my-3"></i>
                            <span class="display-block">9&deg;</span>
                        </div>
                        <div class="col-2 text-center">
                            <span class="display-block">Sat</span>
                            <i class="wi wi-day-lightning display-block warning font-large-1 my-3"></i>
                            <span class="display-block">6&deg;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-12">
        <div class="card">
            <div class="card-header pb-0">
                <h4 class="card-title">Statistics</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-2">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
                        <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> Visits</span>
                    </div>
                    <div id="line-chart2" class="height-350 lineChart2 lineChart2Shadow">
                        <x-chartist class="" [data]="lineChart2.data" [type]="lineChart2.type" [options]="lineChart2.options"
                            [responsiveOptions]="lineChart2.responsiveOptions" [events]="lineChart2.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3" matchHeight ="card">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="row d-flex mb-3 py-2">
                        <div class="col align-self-center text-center"><i class="icon-graph font-large-2 blue-grey lighten-2"></i></div>
                        <div class="col align-self-center"><img alt="96x96" class="bg-danger width-150 rounded-circle img-fluid" src="assets/img/portrait/small/avatar-s-11.png"></div>
                        <div class="col align-self-center text-center"><i class="icon-envelope font-large-2 blue-grey lighten-2"></i></div>
                    </div>
                    <h3 class="font-large-1 text-center">Kevin Sullivan</h3>
                    <span class="font-medium-1 grey d-block text-center">UX Designer</span>
                    <div class="row mt-4 mb-3">
                        <div class="col-xl-7 col-8 ">
                            <div id="Widget-line-chart1" class="height-75 WidgetlineChart1 WidgetlineChart1Shadow px-2">
                                <x-chartist class="" [data]="WidgetlineChart1.data" [type]="WidgetlineChart1.type" [options]="WidgetlineChart1.options" [responsiveOptions]="WidgetlineChart1.responsiveOptions"
                                    [events]="WidgetlineChart1.events">
                                </x-chartist>
                            </div>
                        </div>
                        <div class="col-xl-5 col-4">
                            <span class="font-large-1"><i class="fa fa-caret-up font-large-2 success"></i> 27 %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-img">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img src="assets/img/photos/17.jpg" alt="Random first slide">
                            <div class="carousel-caption">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/img/photos/13.jpg" alt="Random second slide">
                            <div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/img/photos/12.jpg" alt="Random third slide">
                            <div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    <a class="btn btn-floating halfway-fab btn-large gradient-blackberry"><i class="ft-plus"></i></a>
                </div>
                <div class="card-block mt-3">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Sweet halvah dragée jelly-o halvah carrot cake oat cake. Donut jujubes jelly chocolate cake.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Earnings</h4>
                <span class="grey">Mon 18 - Sun 21</span>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="earning-details mb-4">
                    <h3 class="font-large-2 mb-1">$4295.36 <i class="ft-arrow-up font-large-2 teal accent-3"></i></h3>
                    <span class="font-medium-1 grey d-block">Total Earnings</span>
                </div>
                    <div id="Widget-line-chart2" class="height-100 WidgetlineChart2 WidgetlineChart2Shadow">
                        <x-chartist class="" [data]="WidgetlineChart2.data" [type]="WidgetlineChart2.type" [options]="WidgetlineChart2.options" [responsiveOptions]="WidgetlineChart2.responsiveOptions"
                            [events]="WidgetlineChart2.events">
                        </x-chartist>
                    </div>
                    <div class="action-buttons mt-4 mb-1 text-center">
                        <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">View Full</a>
                        <a class="btn btn-raised btn-outline-grey py-2 px-3">Print</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" matchHeight ="card">
    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-primary text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/11.png" alt="element 06" width="190" class="mb-1">
                </div>
                <div class="card-block">
                    <h4 class="card-title">New Arrival</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-danger text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/14.png" alt="element 03" width="170">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Brand Minute</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
        <div class="card card-inverse bg-warning text-center">
            <div class="card-body">
                <div class="card-img overlap">
                    <img src="assets/img/elements/07.png" alt="element 07" width="225">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Brand Minute</h4>
                    <p class="card-text">Donut toffee candy brownie soufflé macaroon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" matchHeight ="card">
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header pb-0">
                <h4 class="card-title">Sales Per Visit</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="chart-info mb-2">
                        <span class="text-uppercase mr-3"><i class="fa fa-circle primary font-small-2 mr-1"></i> Sales</span>
                        <span class="text-uppercase"><i class="fa fa-circle warning font-small-2 mr-1"></i> Visits</span>
                    </div>
                    <div id="line-area-chart" class="height-300 lineAreaChart mb-1">
                        <x-chartist class="" [data]="lineAreaChart.data" [type]="lineAreaChart.type" [options]="lineAreaChart.options"
                            [responsiveOptions]="lineAreaChart.responsiveOptions" [events]="lineAreaChart.events">

                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <h4 class="card-title">DAILY DIET</h4>
                    <p class="card-text">Some quick example text to build on the card.</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge bg-primary float-right">4</span> Protein Milk
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-info float-right">2</span> oz Water
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-warning float-right">6</span> Vegetable Juice
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-success float-right">1</span> Sugar Free Jello-O
                    </li>
                    <li class="list-group-item">
                        <span class="badge bg-danger float-right">3</span> Protein Meal
                    </li>
                </ul>
                <div class="card-block">
                    <a class="card-link success">Card link</a>
                    <a class="card-link success">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>
 -->


 <ng-template #modal let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Hossam's Request</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">                      

                        <form class="form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> About Hossam</h4>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Name</label>
                                            <p class="form-control-static" id="staticInput">Hossam El-Hariry</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Email Address</label>
                                            <p class="form-control-static" id="staticInput">hossamemad@gmail.com</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Phone Number</label>
                                            <p class="form-control-static" id="staticInput">01111204333</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Address</label>
                                            <p class="form-control-static" id="staticInput">47 Eleco Zahraa El-Maadi</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-mail"></i> Request Info</h4>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Request ID </label>
                                            <p class="form-control-static" id="staticInput">1241231</p>
                                        </fieldset>
                            
                                </div>
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Service Type </label>
                                            <p class="form-control-static" id="staticInput">Winch</p>
                                        </fieldset>
                            
                                </div>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Pickup Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


                             <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Drop off Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


                                <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Track Trip</label>
                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>



                            <div class="form-actions right">
                                <button (click)="c('Close click')"  type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i>Assign Driver
                                </button>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</ng-template>



<!-- <section id="map">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">Google Map</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block mt-2">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>        -->     



 <ng-template #modal2 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Hossam's Request</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">                      

                        <form class="form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> About Hossam</h4>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Name</label>
                                            <p class="form-control-static" id="staticInput">Hossam El-Hariry</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Email Address</label>
                                            <p class="form-control-static" id="staticInput">hossamemad@gmail.com</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Phone Number</label>
                                            <p class="form-control-static" id="staticInput">01111204333</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Address</label>
                                            <p class="form-control-static" id="staticInput">47 Eleco Zahraa El-Maadi</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-mail"></i> Request Info</h4>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Request ID </label>
                                            <p class="form-control-static" id="staticInput">1241231</p>
                                        </fieldset>
                            
                                </div>
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Service Type </label>
                                            <p class="form-control-static" id="staticInput">Winch</p>
                                        </fieldset>
                            
                                </div>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Pickup Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


                             <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Drop off Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>




                                <h4 class="form-section"><i class="ft-mail"></i> Assign Driver</h4>


                             
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Select an Online Driver</label>
                                            <select class="form-control" id="basicSelect">
                                              <option>Omar</option>
                                              <option value="confirmed" >Kareem</option>
                                              <option value="pending">Mohamed</option>
                                              <option value="cancelled">Mostafa</option>
                                              <option value="archived">Donia</option>
                                              <option value="archived">Laila</option>
                                              <option value="archived">hazlaoom</option>
                                              <option value="archived">Mariam</option>

                                            </select>
                                        </fieldset>   
                                </div>


                                Or


                            <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Select an Offline Vendor Driver</label>
                                            <select class="form-control" id="basicSelect">
                                              <option>Tarek</option>
                                              <option value="confirmed" >Belaal</option>
                                              <option value="pending">Ehab</option>
                                              <option value="cancelled">Soaad</option>
                                              <option value="archived">Peter</option>
                                              <option value="archived">Christopher</option>
                                            </select>
                                        </fieldset>   
                                </div>
                            </div>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Offline Vendor Total Price </label>
                                           <input type="text" name="">
                                        </fieldset>
                            
                                </div>


                            <div class="form-actions right">
                                <button (click)="c('Close click')"  type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Go To Order
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</ng-template>