<div class="row">
	<div class="col-sm-8">
	<div>
		<img style="    display: block;
    position: relative;
    width: 100%;" src="assets/img/map2.jpg">
</div>
	</div>
	<div class="col-sm-4">
		        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Driver List</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media mb-1">
                        <a> 
                            <img (click)="addNew2(modal10)" alt="96x96" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Amr Wahba</h4>
                            <p class="text-muted font-small-3" style="color:green !important;">Online</p>
                        </div>
                        <div class="mt-1">
                                                        <i class="ft-map-pin"></i>

                        </div>
                    </div>
                    <div class="media mb-1">
                        <a> 
                            <img alt="96x96" class="media-object d-flex mr-3 bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Ramy El-Wakeel</h4>
                            <p class="text-muted font-small-3" style="color:orange !important;">Busy</p>
                        </div>
                        <div class="mt-1">
                                                        <i class="ft-map-pin"></i>

                        </div>
                    </div>
                    <div class="media mb-1">
                        <a> 
                            <img alt="96x96" class="media-object d-flex mr-3 bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png">
                        </a>
                        <div class="media-body">
                            <h4 class="font-medium-1 mt-1 mb-0">Khatab Ahmed</h4>
                            <p class="text-muted font-small-3" style="color:red !important;">Offline</p>
                        </div>
                        <div class="mt-1">
                                                        <i class="ft-map-pin"></i>

                        </div>
                    </div>


<!--                     <div class="action-buttons mt-2 text-center">
                        <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">Add New</a>
                    </div> -->
                </div>
            </div>
        </div>
	</div>
</div>
