<!--User Profile Starts-->
<!--Basic User Details Starts-->
<section id="user-profile">
</section>
<!--Basic User Details Ends-->

<!--About section starts-->
<section id="about" *ngIf="currentPage === 'About'">
    <div class="row">
        <div class="col-12">
            <div class="content-header">About</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-8">
                <div class="card-body">
                    <div class="card-block">
                        <div class="mb-3">
                            <span class="text-bold-500 primary">About Omar:</span>
                            <span class="display-block overflow-hidden">

                                Name: Omar Emad <br>
                                UserName: oemadk <br>
                                Date Created: 20/04/2019 <br>
                                Phone Number: 01111204333 
                            </span>
                        </div>

</div>
</div>
</div>
                        <div class="col-xl-4 col-lg-6 col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <h3 class="mb-1 warning">4.2/5</h3>
                                <span>Rating of Response Time</span>
                            </div>
                            <div class="media-right align-self-center">
                                <i class="icon-pie-chart warning font-large-2 float-right"></i>
                            </div>
                        </div>
                    </div>
                                    


                </div>
            </div>
        </div>

             </div>           <hr>
                        <div class="row">
                            <section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">History</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Day</th>
                                    <th>Date</th>
                                    <th>Login Time Duration</th>
                                    <th>Response Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Sunday</td>
                                    <td>20/04/2019</td>
                                    <td>12 Hours</td>
                                    <td>4/5</td>
                                </tr>
                               
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
