<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row">
        <div class="col-6">
            <div class="content-header">Filter Option</div>
        </div>
        <div class="col-6">
        	 <div class="content-header" style="float: right;">
        									<button  (click)="addNew(modal2)" type="button" class="btn btn-raised btn-primary">
									<i class="fa fa-plus"></i> Add A New Customer
								</button>
							</div>

        </div>
    </div>

    <div class="row">
                <div class="col-sm-2">
                                <h4 class="form-section" style="    font-size: 1.1rem;
"><i class="ft-mail"></i> Choose Customer Type</h4>

              <button style="display: block; width: 100%"  (click)="normalCustomers()" type="button" class="btn btn-raised btn-primary">
                                     Normal 
            </button>

                          <button style="display: block; width: 100%" (click)="showRoomCustomers()" type="button" class="btn btn-raised btn-primary">
                                    ShowRoom
            </button>


 <button style="display: block; width: 100%" (click)="showInsuranceCustomers()" type="button" class="btn btn-raised btn-primary">
                                    Insurance
            </button>

    </div>


    <div class="col-sm-10">
        <section id="extended" *ngIf="normal" class="animation-drop-down">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Normal Customers</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Rating</th>
                                    <th>Actions</th>
                                    <th>Make Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td (click)="addNew2(modal4)"><button>Omar Emad</button></td>
                                    <td>01111204333</td>
                                    <td>oemadk@gmail.com</td>
                                    <td><i style="color: gold;" class="ft-star"></i>
                                    <i style="color: gold;" class="ft-star"></i>
                                <i style="color: gold;" class="ft-star"></i>
                            <i style="color: gold;" class="ft-star"></i>
                        <i class="ft-star"></i></td>
                                    <td>
                                        <a class="info p-0" data-original-title="" title="">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>

                                                  <a (click)="resetpassword()" class="info p-0" data-original-title="" title="">
                                            <i class="ft-lock font-medium-3 mr-2"></i>
                                        </a>
                                        <a (click)="onSelect(modal)" class="success p-0" data-original-title="" title="">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                    <td (click)="addNew(modal5)">

    <button type="button" class="btn btn-raised btn-warning mr-1">
                                   Make an Order
                                </button>
                                   </td>

                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--showroom-->

 <section id="extended" *ngIf="showroom" class="animation-drop-down">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ShowRoom Customers</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Rating</th>
                                    <th>Vendor</th>
                                    <th>Actions</th>
                                    <th>Make Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td (click)="addNew2(modal4)"><button>Omar Emad</button></td>
                                    <td>01111204333</td>
                                    <td>oemadk@gmail.com</td>
                                    <td><i style="color: gold;" class="ft-star"></i>
                                    <i style="color: gold;" class="ft-star"></i>
                                <i style="color: gold;" class="ft-star"></i>
                            <i style="color: gold;" class="ft-star"></i>
                        <i class="ft-star"></i></td>

                        <td>Alliance</td>
                                    <td>
                                        <a class="info p-0" data-original-title="" title="">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>

                                                  <a (click)="resetpassword()" class="info p-0" data-original-title="" title="">
                                            <i class="ft-lock font-medium-3 mr-2"></i>
                                        </a>
                                        <a (click)="onSelect(modal)" class="success p-0" data-original-title="" title="">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                    <td (click)="addNew(modal5)">

    <button type="button" class="btn btn-raised btn-warning mr-1">
                                   Make an Order
                                </button>
                                   </td>

                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- insurance -->

 <section id="extended" *ngIf="insurance" class="animation-drop-down">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Insurance Customers</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Rating</th>
                                    <th>Vendor</th>
                                    <th>Actions</th>
                                    <th>Make Order</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td (click)="addNew2(modal4)"><button>Omar Emad</button></td>
                                    <td>01111204333</td>
                                    <td>oemadk@gmail.com</td>
                                    <td><i style="color: gold;" class="ft-star"></i>
                                    <i style="color: gold;" class="ft-star"></i>
                                <i style="color: gold;" class="ft-star"></i>
                            <i style="color: gold;" class="ft-star"></i>
                        <i class="ft-star"></i></td>

                        <td>El Masrya</td>
                                    <td>
                                        <a class="info p-0" data-original-title="" title="">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>

                                                  <a (click)="resetpassword()" class="info p-0" data-original-title="" title="">
                                            <i class="ft-lock font-medium-3 mr-2"></i>
                                        </a>
                                        <a (click)="onSelect(modal)" class="success p-0" data-original-title="" title="">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                    <td (click)="addNew(modal5)">

    <button type="button" class="btn btn-raised btn-warning mr-1">
                                   Make an Order
                                </button>
                                   </td>

                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
    </div>



</section>
<!-- Filter Datatable Options Ends -->

<ng-template #modal let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-colored-form-control">Edit Omar's Account</h4>
				</div>
				<div class="card-body">
					<div class="px-3">						

						<form class="form">
							<div class="form-body">

								<h4 class="form-section"><i class="ft-mail"></i> Customer Info</h4>

								<div class="form-group">
									<label for="userinput5">Customer's Name</label>
									<input class="form-control border-primary" type="text"  id="userinput5" placeholder="Omar Emad">
								</div>
																<div class="form-group">
									<label for="userinput5">Customer's Phone Number</label>
									<input class="form-control border-primary" type="text"  id="userinput5" placeholder="01111204333">
								</div>
																<div class="form-group">
									<label for="userinput5">Customer's Email</label>
									<input class="form-control border-primary" type="text"  id="userinput5" placeholder="oemadk@gmail.com">
								</div>
								<div class="form-group">
											                                <fieldset class="form-group">
		                                    <label for="basicSelect">Status</label>
		                                    <select class="form-control" id="basicSelect">
		                                      <option>Select status</option>
		                                      <option selected>Activate</option>
		                                      <option>Deactivate</option>

		                                    </select>
		                                </fieldset>   
								</div>
								</div>




							<div class="form-actions right">
								<button (click)="c('Close click')" type="button" class="btn btn-raised btn-warning mr-1">
									<i class="ft-x"></i> Cancel
								</button>
								<button  (click)="c('Close click')" type="button" class="btn btn-raised btn-primary">
									<i class="fa fa-check-square-o"></i> Save
								</button>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
</ng-template>






<!--add new smell Modal-->




<ng-template #modal2 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-colored-form-control">Add a new Customer</h4>
				</div>
				<div class="card-body">
					<div class="px-3">						

						<form class="form">
							<div class="form-body">

								<h4 class="form-section"><i class="ft-mail"></i> Customer Info</h4>

								<div class="form-group">
									<label for="userinput5">Customer's Name</label>
									<input class="form-control border-primary" type="text"  id="userinput5" >
								</div>


								<div class="form-group">
									<label for="userinput5">Customer's Email</label>
									<input class="form-control border-primary" type="email"  id="userinput5" >
								</div>


								<div class="form-group">
									<label for="userinput5">Customer's Phone Number</label>
									<input class="form-control border-primary" type="number"  id="userinput5" >
								</div>


								<div class="form-group">
									<label for="userinput5">Password</label>
									<input class="form-control border-primary" type="text"  id="userinput5" >
								</div>


								<div class="form-group">
											                                <fieldset class="form-group">
		                                    <label for="basicSelect">CarModel</label>
		                                    <select class="form-control" id="basicSelect">
		                                      <option>Select Option</option>
		                                      <option selected>BMW</option>
		                                      <option>Ferari</option>
		                                      <option>etc..</option>

		                                    </select>
		                                </fieldset>   
								</div>

								<div class="form-group">
									<label for="userinput8">Customer's Profile Picture</label>
									<input type="file" id="userinput8" class="form-control border-primary" name="bio" placeholder="">
								</div>

							</div>

							<div class="form-actions right">
								<button (click)="c('Close click')" type="button" class="btn btn-raised btn-warning mr-1">
									<i class="ft-x"></i> Cancel
								</button>
								<button (click)="c('Close click')" type="button" class="btn btn-raised btn-primary mr-1">
									<i class="ft-x"></i> Send Credentials by SMS to customer
								</button>
								<button  (click)="c('Close click')" type="button" class="btn btn-raised btn-primary">
									<i class="fa fa-check-square-o"></i> Save
								</button>

							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
</ng-template>





<ng-template #modal4 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-colored-form-control">Customer's History</h4>
				</div>
				<div class="card-body">
					<div class="px-3">						

						<form class="form">
							<div class="form-body">

								<h4 class="form-section"><i class="ft-mail"></i> Omar Emad</h4>

							<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customers</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>service type</th>
                                    <th>Driver Name</th>
                                    <th>Drop Off Location</th>
                                    <th>Pickup Location</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Omar Emad</td>
                                    <td>Winch</td>
                                    <td>Kareem Mohamed</td>
                                    <td><img style="width: 20px" src="assets/img/map2.jpg"></td>
                                    <td><img style="width: 20px" src="assets/img/map2.jpg"></td>
                                    <td>133 EGP</td>

                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
							</div>

							<div class="form-actions right">
								<button (click)="c('Close click')" type="button" class="btn btn-raised btn-warning mr-1">
									<i class="ft-x"></i> Close
								</button>


							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
</ng-template>








 <ng-template #modal5 let-modal let-c="close" style="background-color: transparent;">
<div style="padding: 0px;" class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-colored-form-control">Make an Order</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">                      

                        <form class="form">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-info"></i> About Omar</h4>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Name</label>
                                            <p class="form-control-static" id="staticInput">Omar Emad</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Email Address</label>
                                            <p class="form-control-static" id="staticInput">oemadk@gmail.com</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Phone Number</label>
                                            <p class="form-control-static" id="staticInput">01111204333</p>
                                        </fieldset>
                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                        <fieldset class="form-group">
                                            <label for="disabledInput">Address</label>
                                            <p class="form-control-static" id="staticInput">47 Eleco Zahraa El-Maadi</p>
                                        </fieldset>
                            
                                        </div>
                                    </div>
                                </div>

                                <h4 class="form-section"><i class="ft-mail"></i> Request Info</h4>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Request ID </label>
                                            <p class="form-control-static" id="staticInput">1241231</p>
                                        </fieldset>
                            
                                </div>
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Service Type </label>
                                            <p class="form-control-static" id="staticInput">Winch</p>
                                        </fieldset>
                            
                                </div>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Pickup Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


                             <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Drop off Location</label>
                                            <p style="display: inline-block;">Lng:30.0071891</p>
                                            <p style="display: inline-block;">Lat:30.9723488</p>

                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


                                <div class="form-group">
                                        <fieldset class="form-group">
                                    

                                            <label for="disabledInput">Track Trip</label>
                                            <img src="assets/img/map2.jpg" width="400px">
                            </fieldset>
                            
                                </div>


    <h4 class="form-section"><i class="ft-mail"></i> Assign Driver</h4>


                             
                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Select an Online Driver</label>
                                            <select class="form-control" id="basicSelect">
                                              <option>Omar</option>
                                              <option value="confirmed" >Kareem</option>
                                              <option value="pending">Mohamed</option>
                                              <option value="cancelled">Mostafa</option>
                                              <option value="archived">Donia</option>
                                              <option value="archived">Laila</option>
                                              <option value="archived">hazlaoom</option>
                                              <option value="archived">Mariam</option>

                                            </select>
                                        </fieldset>   
                                </div>


                                Or


                            <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Select an Offline Vendor Driver</label>
                                            <select class="form-control" id="basicSelect">
                                              <option>Tarek</option>
                                              <option value="confirmed" >Belaal</option>
                                              <option value="pending">Ehab</option>
                                              <option value="cancelled">Soaad</option>
                                              <option value="archived">Peter</option>
                                              <option value="archived">Christopher</option>
                                            </select>
                                        </fieldset>   
                                </div>

                                <div class="form-group">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Offline Vendor Total Price </label>
                                           <input type="text" name="">
                                        </fieldset>
                            
                                </div>

                            <div class="form-actions right">
                                <button (click)="c('Close click')"  type="button" class="btn btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                                <button  type="button" class="btn btn-raised btn-primary">
                                    <i class="fa fa-check-square-o"></i>Assign Driver
                                </button>
                            </div>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</ng-template>

<!--add new smell Modal Ends Here-->
